 
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

a {
  color: #ff4a17;
  text-decoration: none;
}

a:hover {
  color: #ff724a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}


.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
 


/*@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1140px;
  }
}*/


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #ff4a17;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #ff5e31;
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #3E64FF;
  border-top-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 100;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(21, 34, 43, 0.85);
  padding: 12px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
}

#header .logo a {
  color: #fff;
}
 

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-nav {
  margin:0;
  padding: 0;
}
.social-nav li {
  padding: 10px 2px;
  display: inline-block;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 12px;
}

.nav-menu a {
  display: block;
  position: relative; 
  transition: 0.3s;
  font-size: 16px;
  font-family: "Poppins", sans-serif; 
  padding: 0 3px;
}

.nav-menu.social > ul > li {
  padding: 10px 3px;
}

.nav-menu > ul > li a {
  color: #000;
}

.nav-menu > ul > li.active {
  border-bottom: none;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
/*  background-color: #ff4a17;*/
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #333;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 12px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #15222b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #ff4a17;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #fff;
}

.get-started-btn:hover {
  background: #fd3800;
  color: #fff;
  border-color: #ff4a17;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  padding: 20px 20px 20px 10px;
} 

 
.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav li {
  display: block;
  width: 100%;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #15222b;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #ff4a17;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(4, 7, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.nav-menu ul li a:hover {
  color: #3E64FF;
}

.mobile-nav-active .nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 55%;
  width: 400px;
  background-color: #ffffff;
  z-index: 150;
  display: block!important;
  transition: width 2s;
}
.mobile-nav-active .nav-menu ul {
  display: block!important;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh; 
  background-color: #fff;
  background-size: cover;
  position: relative;
  padding: 0;
  z-index: 2;
}

#hero #overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 1;
  background-color: #ECF0FF;
}

#hero #arrow-down {
  position: absolute;
  bottom: 50px;
  left: 48%;  
  z-index: 5;
/*  transform: rotate(90deg)*/;
 
}
 

#hero #arrow-down a {
  font-size: 20px;
  color: #000;
  margin-left: -2px;
  
} 
 
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 3em;
  font-weight: 900;
  line-height: 56px; 
  color: #000;
  margin-bottom: 40px;
}

#hero-intro {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
  display: block;
}

#hero h2 {
  color: #000;
  margin-bottom: 50px;
  font-size: 1.7em;
  font-weight: 700;
}

.text-hl {
  color: #3E64FF;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  padding: 10px 35px 10px 35px;
  border-radius: 4px;
  transition: 0.5s;
  color: #000;
  background: #ff4a17;
  border: 2px solid #ff4a17;
}

#hero .btn-get-started:hover {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 25px;
  color: #fff;
  position: relative;
}

#hero .btn-watch-video i {
  color: #fff;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

#hero .btn-watch-video:hover i {
  color: #ff4a17;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media only screen and (max-width: 768px) {
  #hero h1 {
    font-size: 2.5em;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 1.6em;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #work {
    padding-top: 30px;
  }
  #work .content {
  display: flex;
  align-items: center;
 
  }

  #work img {
    margin-bottom: 40px;
  }

  #cta {
    margin: 0px 0 60px 0;
  }

  .social-nav{
    visibility: hidden!important;
  }
}

@media only screen and (max-width: 480px) {
  #hero h1 {
    font-size: 2.2em;
    line-height: 26px;
  }
  #hero h2 {
    font-size: 1.5em;
    line-height: 24px;
    margin-bottom: 30px;
  }
 
}

.mobile-nav-toggle { 
}

.mobile-nav-toggle i {
  color: #000;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  
  overflow: hidden;
}

.section-bg {
  background-color: #f0f4f8;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5c8eb0;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ff8664;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #263d4d;
}


/*--------------------------------------------------------------
# Work
--------------------------------------------------------------*/
 



#work .content {

  display: grid;
  align-content: center;
}

#work .content h2 {

  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
}

#work .content h3 {

  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/*--------------------------------------------------------------
# End Work
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# CTA
--------------------------------------------------------------*/

#cta {
  min-height: 500px; 
  background-image: url('../img/cta.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin: 120px 0 60px 0;
}

#cta h1 {
  font-family: Poppins;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 54px;
text-align: center;
text-transform: capitalize;
color: #fff;
margin-bottom: 40px;
}

#cta button {
  display: block;
  margin: auto;
  background: #3E64FF;
  border: 3px solid #3E64FF;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 8px 30px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 36px;
  /* identical to box height */
  color: #fff;
  text-align: center;
   transition: background 0s;
}

#cta button:hover {
  background: #375ae5;    
  border-color: #375ae5; 
}

#cta-bottom button:hover {
 background: #375ae5;
 border-color: #375ae5;
}




/*--------------------------------------------------------------
# End CTA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

#services {
  min-height: 500px;
  padding: 90px 0;
}


#services b {
  font-size: 18px;
}

#services h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

#services h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

#services p {
  font-size: 16px;
 
}

#services article {
  margin-bottom: 90px;
}
 

#services .service-icon {
  
  position: relative;
 
  width: 75px;
  height: 75px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 70px;
} 

#services .service-icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 75px;
  border:solid #3E64FF;
  background-color: #3E64FF;
  z-index: 1;
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}

#services .service-icon img {
  vertical-align: middle;
  
  position: relative;
  z-index: 2; 
  width: 38px;
}


.services-wrapper:hover .service-icon::after {
 transform: rotate(45deg);

}
 
/*--------------------------------------------------------------
# End Services
--------------------------------------------------------------*/

#cta-bottom {
  background-color: #3E64FF;
  padding: 140px 0;
  background-image: url('../img/cta-bottom.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#cta-bottom h1 {
  color: #fff;
  font-weight: 900;
  margin-bottom: 55px;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
}

#cta-bottom button {
  font-weight: bold;
  font-size: 18px;
  background-color: #3E64FF;
     padding: 13px 45px;
    border: none;
    color: #fff;
    border-radius: 25px;
}

#contact {
  background-color: #000;
  color: #fff;
  padding: 90px 0 0 0;
  background-image: url('../img/contact.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#contact input[type="text"],
#contact input[type="email"], 
#contact textarea {
  border-radius: 2px; 
  background-color: rgba(51,51,51,0.60);
  border:0; 
  color: #fff;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}


#contact input::placeholder, #contact textarea::placeholder {
  color: #f4f4f5;
  opacity: 1; 
}

#contact .contact-details h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

#contact .contact-details p {
  font-size: 16px;
}
 
#contact form label {
  position: relative;
  top: 35px;
  left: 13px;
  color: #fff;
  z-index: 1;
}
 

#contact form button {
  border-radius: 25px;
  padding: 8px 35px;
  font-size: 16px;
}

#contact form button i {
  font-size: 18px;
  padding-left: 1px;
}

#contact .contact-information {
  line-height: 35px;
}

#footer {
  background-color: #000;
  padding: 100px 0;
  margin-top: 90px;
  opacity: 0.68;
}


#footer p {
  margin: 0;
  color: #fff;
} 
 

@media only screen  and (min-width: 1080px) {

  #contact form {
    padding-right: 1em;
  }

  #services p {
    max-width: 330px;
  }
}

.btn-primary {
  background-color: #3E64FF;
}

.pc {
  color: #3E64FF;
}



/*--------------------------------------------------------------
# RESPONSIVE
--------------------------------------------------------------*/

@media only screen and (min-width: 1000px) {

  .no-padding-right {
    padding-right: 0;
  }

  .no-padding-left {
    padding-left: 0;
  }

  #work .content:nth-child(2) {

    padding-left: 25px;
  }

  #work .content {

     padding-right: 25px;
  }
}

/* TABLET */

@media only screen and (max-width: 768px) {

  #work .content h2 {
    font-size: 2em;
  }

  #work .row:nth-child(2) {
    display: grid;
    grid-template-columns: 100%
  }

  #work .row:nth-child(2) .col-lg-6:nth-child(1) {

    order: 2;
  }

  .services-wrapper {
    display: grid;
    grid-template-columns: 100px auto;

  }

  #contact form {
    margin-bottom: 50px;
  }

}

/* END TABLET */

/*--------------------------------------------------------------
# END responsive
--------------------------------------------------------------*/

@media only screen and (max-width:320px) {
    
  #hero h1 {
      line-height: 48px;
  }
  #hero-intro {
    margin-bottom: 20px;
  }
}